.box{
 width: 450px;
 background: rgba(0, 0, 0, 0.4);
 padding: 40px;
 text-align: left;
 margin: auto;
 margin-top: 5%;
 color: white;
 font-family:'century gothic',sans-serif;
}
.box-img{
 border-radius: 50%;
 width: 200px;
 height: 200px;
}
.box h1{
 font-size: 40px;
 letter-spacing: 5px;
 font-weight: 100;
}
.box a{
 font-size: 25px;
 letter-spacing: 3px;
 font-weight: 100;
}
