img{
 border-radius: 50%;
 width: 200px;
 height: 200px;
 align: middle;
}
 h1{
 
 font-size: 40px;
 align: center;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
font-size:44px;
}
th, td {
  padding: 5px;
  text-align: center;
  
 
}
